html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Myriad Pro',
    sans-serif;
    font-family: 'Montserrat',
    sans-serif;
    font-family: 'Poppins',
    sans-serif;
    font-family: 'Open Sans',
    sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.content{
    max-width: 1146px;
    margin: 0 auto;
}

.check{
    display: block;
    width: 30px;
    height: 4px;
    background-color:rgb(0, 73, 176);
    transition: all 0.4s ease-in-out;
    border-radius: 4px;
}

.check:not(:last-of-type){
    margin-bottom: 3px;
}

.menu__flex {
    display: flex;
    align-items: center;
}

.menu{
    display: none;
}

.header-all__logo-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px auto 28px;
}

.header-all__logo {
    width: 244px;
    height: 61px;
}

.form-search {
    position: relative;
    width: 368px;
    margin: 0 auto;
}

.search-area {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #a1a1a1;
    border-radius: 2px;
    outline: none;
    color: #5e5d5c;
}

.button-search {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #0049b0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.button-search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #ffffff;
}

.header-all__header-nav {
    display: block;
    position: sticky;
    top: 0;
    height: 60px;
    background: #f4f5f7;
}

.header-ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.header-li{
    display: inline-block;
    cursor: pointer;
}

.header-li:hover{
    color: #0049b0;
    background: #eaecf0;
}

.li-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.143;
    gap: 1px;
}

.header-all__search-check-circule{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgb(0, 73, 176);
    transition: all 0.4s ease-in-out;
}

.header-all__search-check-stick{
    display: block;
    width: 15px;
    height: 4px;
    background: rgb(0, 73, 176);
    transform: rotate(45deg) translate(13px, -17px);
    transition: all 0.4s ease-in-out;
    border-radius: 4px;
}

.header-all__search-flex{
    display: flex;
    align-items: center;
}

.header-all__search-flex {
    display: none;
}

.main{
    grid-row-start: 2;
    grid-row-end: 3;
}

.main__buttons {
    text-align: center;
}


.main__title {
    font-size: 36px;
    color: rgb(48, 48, 48);
    line-height: 1.667;
    text-align: center;
    margin: 100px auto 45px;
}

.btn-primary{
    box-sizing: border-box;
    border-radius: 2px;
    font-family: "Montserrat";
    background-color: rgb(0, 73, 176);
    color: #ffffff;
    width: 109px;
    height: 45px;
    border: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.btn-default{
    box-sizing: border-box;
    border: none;
    border-width: 1px;
    font-family: "Montserrat";
    border-color: rgb(0, 73, 176);
    color: rgb(0, 73, 176);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    width: 109px;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.btn-succsess{
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    font-family: "Montserrat";
    background-color: rgb(52, 191, 73);
    width: 109px;
    height: 45px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.btn-info{
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: rgb(109, 207, 246);
    width: 70px;
    height: 45px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.btn-warning{
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: rgb(244, 154, 158);
    width: 118px;
    height: 45px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.btn-danger{
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: rgb(237, 28, 36);
    width: 106px;
    height: 45px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

.inputs-labels{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: 45px;
}

.fake-checkbox {
    box-sizing: border-box;
    border: 1px solid #5e5d5c;
    background-color: rgb(255, 255, 255);
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.fake-checkbox::before {
    content: '';
    position: absolute;
    opacity: 0;
    background: rgb(49, 165, 231);
    width: 4px;
    height: 2px;
    top: 50%;
    left: 20%;
    transform: rotate(45deg);
}

.fake-checkbox::after {
    content: '';
    position: absolute;
    opacity: 0;
    background: rgb(49, 165, 231);
    width: 6px;
    height: 2px;
    top: 45%;
    left: 30%;
    transform: rotate(-45deg);
}

.input-checkbox {
    opacity: 0;
}

.input-checkbox:checked~.fake-checkbox {
    border: 1px solid rgb(49, 165, 231);
    opacity: 1;
    transition: linear;
}

.input-checkbox:checked~.fake-checkbox::before,
.input-checkbox:checked~.fake-checkbox::after {
    opacity: 1;
    transition: linear;
}

.input-radio {
    opacity: 0;
}

.fake-radio {
    box-sizing: border-box;
    border: 1px solid #5e5d5c;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.fake-radio::before {
    content: '';
    position: absolute;
    opacity: 0;
    background: rgb(49, 165, 231);
    border-radius: 50px;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-radio:checked~.fake-radio::before{
    opacity: 1;
    transition: linear;
}

.input-radio:checked~.fake-radio {
    border: 1px solid rgb(49, 165, 231);
    opacity: 1;
    transition: linear;
}

.input-switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    text-align: center;
    margin: 5px;
    padding: 2px;
}

.input-switch .input-switcher {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f49a9e;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 16px;
    width: 16px;
    left: 2.3px;
    top: 2px;
    background-color: white;
    transition: .4s;
}

.input-switcher:checked+.slider {
    background-color: #34bf49;
}

.input-switcher:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.text-checkbox{
    font-size: 15px;
    color: rgb(94, 93, 92);
    line-height: 1.2;
    text-align: left;
    margin-left: 13px;
}

.rating-simple {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px;
}

.simple-rating{
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}

.simple-rating::before{
    content: "★★★★★";
    display: block;
    opacity: 0;
}

.simpl-rt-items{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simpl-rt-item{
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simpl-rt-item:checked,
.simpl-rt-item:checked~.simpl-rt-label{
    color: #e7ab65;
}

.simpl-rt-label{
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #000000;
    
}

.simpl-rt-label::before{
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simpl-rt-label:hover,
.simpl-rt-label:hover~.simpl-rt-label,
.simpl-rt-label:checked~.simpl-rt-label:hover {
    color: #e7ab65;
}

.rating{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 40px;
    line-height: 0.75;
}

.rating__body{
    position: relative;
    font-size: 25px;
}

.rating__body::before{
    content: "★★★★★";
    display: block;
}

.rating__active{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before{
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #e7ab65;
}

.rating__items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item{
    flex: 0 0 10%;
    height: 100%;
    opacity: 0;
}

.rating__value{
    font-size: 50%;
    line-height: 1;
    padding: 0 0 0 10px;
}

.wraper {
    height: 100%;
    padding: 50px;
}

.slick-slider__chewbacca {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-image: url("../style/slider/AbominableChewbacca-SWT.png");
    background-repeat: no-repeat;
    background-position: -10px -5px;
    background-size: 286px 377px;
}

.slick-slider__darth-vader {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-image: url("../style/slider/DarthVader.png");
    background-repeat: no-repeat;
    background-position: -30px 30px;
    background-size: 335px 380px;
}

.slick-slider__yoda {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-image: url("../style/slider/Yoda_SWSB.png");
    background-repeat: no-repeat;
    background-position: -10px -5px;
    background-size: 286px 377px;
}

.slick-slider__r2dr {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-image: url("../style/slider/r2d2.png");
    background-repeat: no-repeat;
    background-position: -10px -5px;
    background-size: 286px 377px;
}

.slick-slider__text{
    max-width: 320px;
    margin-top: 45px;
    margin-left: 65px;
}

.main-text {
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(128, 128, 128);
    line-height: 1.5;
    width: 325px;
    height: 63px;
}

.name-text{
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(48, 48, 48);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 15px;
}

.date{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(48, 48, 48);
    line-height: 1.5;
}

.slick-slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slider{
    position: relative;
    padding: 0 50px;
}


.slick-slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -20px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(218, 218, 218);
    box-sizing: border-box;
}

.slick-slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slick-slider .slick-arrow:active {
    border: 1px solid rgb(0, 73, 176);
}

.slick-slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../style/chevron-left-solid.svg') 50% 50% / 20% no-repeat;
}

.slick-slider .slick-arrow.slick-next {
    right: 0;
    background: url('../style/chevron-right-solid.svg') 50% 50% / 20% no-repeat;
}

.slick-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}

.slick-slider .slick-dots li {
    list-style: none;
    margin: 0 20px;
}

.slick-slider .slick-dots button {
    font-size: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
}

.slick-slider .slick-dots li.slick-active button {
    border: 2px solid rgb(0, 73, 176);
    box-sizing: border-box;
}

#slick-slide-control00 {
    background-image: url("../style/slider/AbominableChewbacca-SWT.png");
    background-size: 87px 116px;
    background-position: 50% 0%;
    box-sizing: border-box;
}

#slick-slide-control01{
    background-image: url("../style/slider/DarthVader.png");
    background-size: 95px 115px;
    background-position: 40% 0;
}

#slick-slide-control02{
    background-image: url("../style/slider/Yoda_SWSB.png");
    background-size: 80px 96px;
    background-position: 50% 0%;
}

#slick-slide-control03 {
    background-image: url("../style/slider/r2d2.png");
    background-size: 78px 119px;
    background-position: 50% 0%;
}

.footer {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #f4f5f7;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-ul {
    margin: 28px 0 60px;
}

.footer-li-main {
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 2.5;
    margin-bottom: 12px;
    color: #0049b0;
}

.footer-li {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    line-height: 2.5;
    margin-bottom: 12px;
}

.footer-li:hover {
    text-shadow: 0 0 .4px #000000,
        0 0 .4px #000000,
        0 0 .4px #000000;
    cursor: pointer;
}

.footer-logo-li {
    display: inline-block;
}

.footer-logo-li:nth-child(1),
.footer-logo-li:nth-child(2),
.footer-logo-li:nth-child(3) {
    margin-right: 10px;
}

.facebook:hover {
    fill: blue;
}

.footer-logo-ul {
    position: relative;
}

.fas::before{
    display: none;
    font-size: 16px;
}

@media only screen and (max-width : 1024px) {
    .content {
        max-width: 750px;
        margin: 0 auto;
    }

    .menu {
        display: block;
        position: relative;
    }

    .header-ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
    }

    .header-all__header-nav{
        height: auto;
        background: #ffffff;
    }

    .header-li {
        background: #f4f5f7;
        width: 100%;
    }

    .li-content{
        justify-content: flex-start;
        padding-left: 20px;
    }

    .checkbox {
        position: absolute;
        z-index: 1;
        display: block;
        width: 50px;
        height: 50px;
        margin: -10px;
        opacity: 0;
    }

    .checkbox:checked~.check-wrapper>.check:first-of-type {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .checkbox:checked~.check-wrapper>.check:nth-child(2) {
        background-color: transparent;
    }

    .checkbox:checked~.check-wrapper>.check:last-of-type {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .header-all__header-nav{
        display: none;
    }

    .checkbox:checked~.header-all__logo>.header-all__search-flex>.header-all__search>.header-all__header-nav {
        display: block;
    }

    .checkbox-search{
        position: absolute;
        z-index: 1;
        display: block;
        width: 50px;
        height: 50px;
        margin: -10px;
        opacity: 0;
    }

    .header-all__search-flex {
        display: block;
    }

    .header-all__search {
        margin: 20px 25% 0;
    }

    .checkbox-search:checked~.header-all__wrapper-check>.header-all__search-check-circule {
        width: 30px;
        height: 4px;
        border-radius: 4px;
        background: rgb(0, 73, 176);
        border: none;
        transform: rotate(45deg) translate(3px, 8px);
    }

    .checkbox-search:checked~.header-all__wrapper-check>.header-all__search-check-stick {
        width: 30px;
        transform: rotate(-45deg) translate(-5px, 0px);
    }

    /* .checkbox-search:checked~.header-all__search {
        display: block;
    } */

    .header-all__logo-search{
        padding: 28px;
        flex-wrap: wrap;
    }

    .button-search{
        width: 75px;
    }

    .slick-active{
        width: auto !important;
    }

    .slick-slider__text{
        margin-top: 0;
        margin-left: 20px;
    }

    .main-text{
        width: 265px;
    }


    svg{
        transform: scale(0.98);
    }

    .footer-logo-li:nth-child(1),
    .footer-logo-li:nth-child(2),
    .footer-logo-li:nth-child(3) {
        margin-right: 5px;
    }
    
}

@media only screen and (max-width : 800px) {
    .content {
        max-width: 708px;
        margin: 0 auto;
    }

    .header-all__logo-search {
        padding: 10px;
    }

    #logo,
    .header-all__logo {
        width: 150px;
        height: 50px;
    }

    .main__title {
        margin: 15px auto 25px;
    }

    .btn-primary,
    .btn-default,
    .btn-succsess,
    .btn-info,
    .btn-warning{
        margin-right: 5px;
    }

    .inputs-labels {
        margin: 20px;
    }

    .rating-simple{
        margin: 30px;
    }

    .rating{
        margin-bottom: 40px;
    }

    .wraper{
        padding: 5px;
    }

    .slick-slider{
        padding: 45px;
    }

    .slick-slider__chewbacca,
    .slick-slider__r2dr {
        width: 230px;
        height: 230px;
        background-position: -20px 5px;
        background-size: 256px 347px;
    }

    .slick-slider__darth-vader {
        width: 230px;
        height: 230px;
        background-size: 305px 350px;
    }

    .slick-slider__yoda {
        width: 230px;
        height: 230px;
        background-position: -20px 0px;
        background-size: 266px 326px;
    }

    .slick-slider__text {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 10px;
    }

    .main-text {
        width: 330px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px auto;
    }

    .footer-ul {
        margin: 50px 0 50px;
    }

    .footer-ul:nth-child(4){
        grid-column: 1/5;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
    }

    .footer-ul:nth-child(4)>.footer-li-main {
        text-align: center;
    }

    .footer-logo-li:nth-child(1),
    .footer-logo-li:nth-child(2),
    .footer-logo-li:nth-child(3) {
        margin-right: 20px;
    }

    svg {
        transform: scale(1);
    }
}

@media only screen and (max-width : 768px) {
    .content {
        max-width: 550px;
        margin: 0 auto;
    }

    .header-all__logo-search{
        flex-wrap: wrap;
    }

    #logo,
    .header-all__logo {
        width: 150px;
        height: 35px;
    }

    .header-all__search{
        margin: 10px auto;
    }

    .form-search {
        width: 530px;
    }

    .btn-primary,
    .btn-default,
    .btn-succsess,
    .btn-info,
    .btn-warning {
        margin-bottom: 10px;
    }

    .slick-slider__item {
        flex-wrap: wrap;
    }

    .slick-slider__text {
        max-width: 100%;
        margin: 15px 0 0 0;
    }

    .slick-active {
        width: 30em !important;
    }

    .main-text {
        font-size: 18px;
    }

    .name-text{
        margin-top: 25px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width : 533px) {
    .content {
        max-width: 310px;
        margin: 0 auto;
    }

    .form-search{
        width: 290px;
    }

    .carousel {
        max-width: 420px;
        margin: 0 -60px;
    }

    .slick-slider .slick-dots li{
        margin: 0 10px;
    }

    .slick-slider {
        padding: 0 40px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        grid-template-rows: 125px auto;
    }

    .footer-ul:nth-child(4) {
        grid-column: auto;
    }

    .footer-ul {
        margin: 10px 0 0px;
    }

    .footer-mobile-main{
        color: black;
        font-weight: bold;
    }

    .footer-mobile-main:active{
        color: rgb(0, 73, 176);
    }

    .fas::before{
        display: block;
    }

    .footer-li{
        display: none;
        margin-left: 25px;
    }

    .active-mobile-arrow{
        transform: rotate(180deg);
    }
}

@media only screen and (max-width : 360px) {
    .carousel {
        max-width: 100vw;
        margin: 0;
    }

    .slick-slider__text {
        margin: 15px 0 0 25px;
    }

    .slick-slider .slick-dots li {
        margin: 0 8px;
    }

    .slick-slider .slick-dots button {
        width: 65px;
        height: 65px;
    }

    .wraper {
        padding: 0px;
    }

    .slick-slider {
        padding: 0;
    }

    .slick-active{
        width: 20em !important;
    }

    .slick-slider .slick-dots li.slick-active {
        width: 4em !important;
    }

    .main-text {
        width: auto;
    }
}

@media only screen and (max-width : 240px) {}

@media only screen and (max-width : 176px) {}